:root {
  --font-color: white;
}

body {
  height: 100vh;
  display: flex;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

main :first-child {
  flex: 1;
}

main :last-child {
  flex: 3;
}

aside {
  flex: 1;
  display: grid;
  padding-left: 16px;
  grid-template-rows: 0.5fr 1.25fr 2fr;
  background-color: rgb(17, 119, 251);
  color: var(--font-color);
}

.aside__link-n-img {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 8px;
}

.aside__link-n-img img {
  height: 24px;
  /* Change the color from black to pure white */
  filter: invert(100%);
}

img[src="/assets/icons/view-dashboard.svg"] {
  height: 45px;
}

nav .aside__link-n-img {
  font-size: medium;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
