body {
  height: 100vh;
  display: flex;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

main :first-child {
  flex: 1;
}

main :last-child {
  flex: 3;
}

aside {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
